%h2 Change your password
= form_tag :action => 'password_check'
%table
  %tr
    %td.label Current Password:
    %td= password_field("form", "current_password")
  %tr
    %td.label New Password:
    %td= password_field("form", "password")
  %tr
    %td.label Confirm New Password:
    %td= password_field("form", "password_confirmation")
  %tr
    %td.label New Email:
    %td= text_field("form", "email", :value => @user.email)
  %tr
    %td
    %td
      = submit_tag "Update Password"
  %tr
    %td
    %td
      = link_to "Edit Profile", edit_user_path(:id => @user.id)
      |
      = link_to "Cancel", show_path(:id => @user.id)
