-semantic_form_for(@goal, :html => { :multipart => true }) do |f|
  - f.inputs do
    = f.input :description
    = f.input :target, :as => :select, :collection => @targets
    = f.file_field :reward
    = f.input :completed
  - f.buttons do
    = f.commit_button
= link_to 'Cancel', goals_path