- semantic_form_for [@transaction] do |f|
  - f.inputs do
    = f.input :transaction_type, :label => "Get LAUNCH Points", :as => :radio, :collection => {"For Myself" => "Self", "For a Group" => "Group", "As a Gift" => "Gift"}
    = f.input :group, :label => "Group", :collection => @user.memberships, :prompt => "Please Select", :hint => "If Applicable"
    = f.input :gift_email, :label => "Gift Email", :hint => "If Applicable"
    = f.input :points, :as => :select, :label => "Quantity", :collection => [5,10,25,50], :prompt => "Please Select"
  = f.buttons